*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background-color: #040404;
  color: #FFFFFF; }

::selection {
  background-color: #FFEB3B;
  color: #040404; }

h1 {
  font-size: 4rem;
  font-family: 'Archivo Black', sans-serif; }

h2 {
  font-size: 3rem;
  font-family: 'Archivo Black', sans-serif; }

h3 {
  font-weight: 700;
  font-size: 2em;
  font-family: 'Archivo Black', sans-serif; }

.u-border-top {
  border-top: 3px solid #FFEB3B; }

.u-border-bottom {
  border-bottom: 2px solid #FFEB3B;
  padding-bottom: 3px;
  transition: border-bottom 0.3s; }

.u-text-yellow {
  color: #FFEB3B; }

.u-margin-top {
  margin-top: 1.5rem; }

.u-margin-bottom {
  margin-bottom: 3rem; }

.u-margin-right {
  margin-right: 1.5rem; }

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  padding: 1rem 2rem;
  transition: all 0.2s;
  position: relative;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  background: rgba(26, 26, 26, 0.5);
  border: 2px solid #FFEB3B; }

.btn--primary {
  position: relative;
  max-width: 30rem;
  color: #FFFFFF;
  transition: all 0.3s; }
  .btn--primary:hover {
    background: #FFEB3B;
    color: #1A1A1A; }
    .btn--primary:hover .fa-arrow-right {
      transform: rotate(90deg);
      margin-left: 2rem;
      color: #1A1A1A; }

.fa-arrow-right {
  margin-left: 1.5rem;
  color: #FFFFFF;
  backface-visibility: hidden;
  transition: transform 0.3s, margin-left 0.3s, color 0.3s; }

.btn--top {
  background-color: #1A1A1A; }

.cards-row {
  display: flex;
  flex-wrap: wrap; }

.card-column {
  max-height: 35rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3rem;
  background-color: #1A1A1A;
  transition: all 0.3s;
  position: relative;
  box-shadow: 0 4px 6px rgba(26, 26, 26, 0.2); }
  .card-column:not(:last-child) {
    margin-right: 3rem; }
  .card-column > i {
    font-size: 6rem;
    color: #FFFFFF;
    transition: all 0.3s;
    padding: 0 0 1rem 0; }
    .card-column > i::before {
      width: 11rem;
      height: 11rem; }
  .card-column > h3 {
    margin-bottom: 1rem;
    font-size: 1.8rem; }
  .card-column > p {
    font-size: 1.4rem;
    text-align: center;
    font-family: "Roboto", sans-serif;
    padding-top: 1rem; }
  .card-column:hover {
    background-color: #FFEB3B;
    color: #1A1A1A;
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.05); }
    .card-column:hover i {
      color: #1A1A1A; }

.form__list {
  list-style: none;
  width: 45vw;
  min-width: 40vw;
  max-width: 60vw; }

.form__list li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

.form__list > li > label,
.form__list li {
  flex: 1 0 100%;
  font-size: 1.4rem; }

.form__list > li > label {
  margin: 1.5rem 0 0.5rem;
  color: #FFEB3B;
  font-weight: 700; }

.form__list > li > label + * {
  font-family: inherit;
  font-size: 1.4rem;
  flex: 1 0 22rem;
  background: #3a3a3a;
  padding: 1rem 1.2rem;
  border: none; }

.form__list > li > input,
.form__list > li > textarea {
  border: 2px solid transparent;
  color: #FFFFFF;
  transition: border 0.3s;
  flex: 1 0 40rem; }

.form__list > li > input:focus,
.form__list > li > textarea:focus {
  border-top: 2px solid #FFEB3B;
  outline: none; }

.form__list li button {
  margin: 0;
  margin-top: 3rem;
  margin-bottom: 0;
  padding: 1rem 4rem; }

#message {
  resize: none;
  overflow: hidden;
  height: 18rem; }

.fa-envelope {
  margin-left: 1.5rem; }

::placeholder {
  color: #717171 !important; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #717171 !important; }

.section-about {
  margin-top: 3rem;
  padding: 3rem; }

.box-skill {
  width: 100%;
  height: 4rem;
  margin: 0.75rem 0rem 0.75rem 0.75rem;
  background-color: #1A1A1A;
  transition: all 0.3s; }
  .box-skill:hover {
    background-color: #FFEB3B; }

.col-12 {
  margin-left: 0.75rem; }

.img-box {
  position: relative;
  width: 100%;
  height: 100%; }
  .img-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/17796487_1520630757969586_2449666964075633662_n.jpg?_nc_cat=109&_nc_ht=scontent-lhr3-1.xx&oh=287795c533f5c631be142b43ff5a91b6&oe=5C6F60B2);
    background-size: cover;
    background-position: top;
    filter: grayscale(100%);
    opacity: 1;
    z-index: -5; }

.about-text {
  align-self: flex-start;
  font-size: 1.4rem;
  padding: 0 1.5rem 0 3rem;
  text-align: justify; }

.section-contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
  background: #1A1A1A;
  padding: 3rem;
  margin: 3rem; }

.footer {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem; }

.icon-box {
  padding: 3rem;
  margin-top: 1rem; }

.icon-box > a:link,
.icon-box > a:visited {
  color: inherit;
  cursor: pointer;
  font-size: 3rem;
  padding: 2.5rem 2.8rem;
  background-color: #1A1A1A;
  transition: all 0.3s;
  position: relative;
  margin-top: 3rem; }

.icon-box > a:first-child::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: -0.4rem;
  left: -0.4rem;
  z-index: -10;
  background-color: transparent;
  border-left: 4px solid #FFEB3B;
  border-top: 4px solid #FFEB3B;
  transition: all 0.2s; }

.icon-box > a:last-child::after {
  content: "";
  position: absolute;
  width: 5rem;
  height: 5rem;
  bottom: -0.4rem;
  right: -0.4rem;
  z-index: -10;
  background-color: transparent;
  border-right: 4px solid #FFEB3B;
  border-bottom: 4px solid #FFEB3B;
  transition: all 0.2s; }

.icon-box > a:not(:last-child) {
  margin-right: 2.5rem; }

.icon-box > a:hover {
  background-color: #FFEB3B;
  color: #1A1A1A; }

.icon-box > a:first-child:hover::after {
  top: -1rem;
  left: -1rem; }

.icon-box > a:last-child:hover::after {
  bottom: -1rem;
  right: -1rem; }

.fa-angle-double-up {
  font-size: 1.6rem; }

.copyright {
  margin-top: 2rem; }

.container {
  max-width: 140rem;
  margin: 0 auto; }

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

.col-1 {
  flex-basis: 8.33333%; }

.col-2 {
  flex-basis: 16.66667%; }

.col-3 {
  flex-basis: 25%; }

.col-4 {
  flex-basis: 33.33333%; }

.col-5 {
  flex-basis: 41.66667%; }

.col-6 {
  flex-basis: 50%; }

.col-7 {
  flex-basis: 58.33333%; }

.col-8 {
  flex-basis: 66.66667%; }

.col-9 {
  flex-basis: 75%; }

.col-10 {
  flex-basis: 83.33333%; }

.col-11 {
  flex-basis: 91.66667%; }

.col-12 {
  flex-basis: 100%; }

[class*="col-"] {
  display: flex;
  align-items: center;
  justify-content: space-evenly; }

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  height: 100%;
  padding: 6rem; }
  .header__content-box {
    flex: 1 0 100%; }
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1522252234503-e356532cafd5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3bf453d8de413fcdece9ac11275bbc8c&auto=format&fit=crop&w=1525&q=80);
    background-size: cover;
    background-position: center;
    opacity: 1;
    z-index: -5; }

.section-work {
  margin-top: 3rem; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  margin-top: -1rem; }
  .navbar__logo {
    font-size: 3rem;
    font-family: "Archivo Black", sans-serif; }
  .navbar__list {
    display: flex;
    list-style: none;
    font-family: "Archivo Black", sans-serif; }
  .navbar__item {
    position: relative;
    display: inline-block; }
    .navbar__item:not(:last-child) {
      margin-right: 4rem; }
    .navbar__item::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      transform: scaleX(0);
      bottom: -3px;
      left: 0;
      background-color: #FFEB3B;
      transform-origin: center;
      transition: transform 0.2s ease-out; }
    .navbar__item:hover::after {
      transform-origin: center;
      transform: scaleX(1); }
  .navbar__link:link, .navbar__link:visited {
    display: block;
    text-decoration: none;
    font-size: 2rem;
    color: #FFFFFF;
    transition: all 0.3s ease-out; }
  .navbar__link:hover {
    color: #FFEB3B; }
  .navbar__link--active:link, .navbar__link--active:visited {
    position: relative;
    color: #FFEB3B; }
    .navbar__link--active:link::after, .navbar__link--active:visited::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: -3px;
      left: 0;
      background-color: #FFEB3B; }
