// main colors
$color-black: #040404;
$color-white: #FFFFFF;


$color-primary-1: #F6F94B;
$color-primary-2:  #FFEB3B;  
//  #FFF629; old
$color-primary-3: #E9EC47;

$color-grey-dark-1: #1A1A1A;

$color-grey-light-1: #717171;