.section-about {
  margin-top: 9rem;
  
}

.box-left,
.box-right {
  padding: 3rem;

  display: flex;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.box-left {
  height: 60vh;
  width: 50%;
  
}

.box-right__skill {
  flex: 1;
  padding: 3rem 8rem;
  margin: 2rem;
  background-color: $color-grey-dark-1;
  transition: all 0.3s;
}
.box-right__skill:hover {
  background-color: $color-primary-2;
}

.box-left {
  position: relative;
  flex: 1 0 40%;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/17796487_1520630757969586_2449666964075633662_n.jpg?_nc_cat=109&_nc_ht=scontent-lhr3-1.xx&oh=287795c533f5c631be142b43ff5a91b6&oe=5C6F60B2);
    background-size: cover;
    background-position: top;
    filter: grayscale(100%);
    opacity: 1;
    z-index: -5;
  }
}

// img
