.section-about {
  margin-top: 3rem;
  padding: 3rem 0;
}


.img-box {
  position: relative;
  width: 100%;
  height: 40rem;
  margin: 0 3rem;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/17796487_1520630757969586_2449666964075633662_n.jpg?_nc_cat=109&_nc_ht=scontent-lhr3-1.xx&oh=287795c533f5c631be142b43ff5a91b6&oe=5C6F60B2);
    background-size: cover;
    background-position: top;
    filter: grayscale(100%);
    opacity: 1;
    z-index: -5;
  }
}

.about-text {
  align-self: flex-start;
  font-size: 1.4rem;
  
  text-align: justify;

}

