.footer {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
}

.icon-box {
  padding: 3rem;
}

.icon-box > i {
  cursor: pointer;
  font-size: 3rem;
  padding: 2.5rem;
  background-color: #1a1a1a;
  transition: all 0.3s;
  position: relative;
  margin-top: 3rem;
}

.icon-box > i:first-child::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: -0.3rem;
  left: -0.4rem;
  z-index: -10;
  background-color: transparent;
  border-left: 3px solid #ffeb3b;
  border-top: 3px solid #ffeb3b;
  transition: transform 0.2s;
}

.icon-box > i:last-child::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 3rem;
  bottom: -0.3rem;
  right: -0.4rem;
  z-index: -10;
  background-color: transparent;
  border-right: 3px solid #ffeb3b;
  border-bottom: 3px solid #ffeb3b;
  transition: transform 0.2s;
}

.icon-box > i:not(:last-child) {
  margin-right: 2.5rem;
}

.icon-box > i:hover {
  background-color: #ffeb3b;
  color: #1a1a1a;
}

.icon-box > i:last-child:hover::after {
  /* transform: translate(15%, 15%); */
  transform: scale(1.4);
}
.icon-box > i:first-child:hover::after {
  /* transform: translate(-15%, -15%); */
  transform: scale(1.4);
}

.fa-angle-double-up {
  font-size: 1.6rem;
}

.btn--top {
  background-color: #1a1a1a;
}

h4 {
  margin-top: 2rem;
}
