.container {
  max-width: 140rem;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

$grid__cols: 12;
@for $i from 1 through $grid__cols {
  .col-#{$i} {
    flex-basis: (100 / ($grid__cols / $i)) * 1%;
  }
}

[class*="col-"] {
  display: flex;
}

.col-6 {
  flex-direction: column;
  justify-content: space-evenly;
}
