.section-work {
  margin: 3rem 0;
}

.grid {
  display: flex;
}

.responsive-image {
max-width: 100%;
  
}

.cell img {
  cursor: pointer;
  display: block;
  filter: grayscale(90%);
  transition: all .2s;
  backface-visibility: hidden;

  &:hover {
    filter: none;
    transform: scale(1.05);
  }
}

.cell {
  margin-bottom: 3rem;
  &:not(:last-child) {
    margin-right: 3rem;
  }
}
