.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  padding: 1rem 2rem;
  transition: all 0.2s;
  position: relative;
  font-size: 2rem;
  //change for the <button> element
  border: none;
  cursor: pointer;
  background: rgba($color-grey-dark-1, 0.5);
 
  border: 2px solid $color-primary-2;
}

.btn--primary {
  position: relative;
  max-width: 30rem;

  color: $color-white;
  transition: all 0.3s;
  &:hover {
    background: $color-primary-2;
    color: $color-grey-dark-1;
    & .fa-arrow-right {
      transform: rotate(90deg);
      margin-left: 2rem;
      color: $color-grey-dark-1;
    }
  }
}

.fa-arrow-right {
  margin-left: 1.5rem;
  color: $color-white;
  backface-visibility: hidden; // fix animation shake
  transition: transform 0.3s, margin-left 0.3s, color 0.3s;
}

.btn--top {
  background-color: $color-grey-dark-1;
}
