.cards-row {
  display: flex;
  flex-wrap: wrap;

  margin-top: -3rem;
}

.card-column {
  max-height: 35rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3rem;

  background-color: $color-grey-dark-1;
  transition: all 0.3s;
  position: relative;

  &:not(:last-child) {
    margin-right: 3rem;
  }

  & > i {
    font-size: 6rem;
    color: $color-white;
    transition: all 0.3s;
    padding: 0 0 3rem 0;

    &::before {
      width: 12rem;
      height: 12rem;
    }
  }

  & > h3 {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  & > p {
    font-size: 1.6rem;
    text-align: justify;
    font-family: "Roboto", sans-serif;
  }

  &:hover {
    background-color: $color-primary-2;
    color: $color-grey-dark-1;
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 3rem rgba($color-white, 0.05);

    & i {
      color: $color-grey-dark-1;
    }
  }
}