.cards-row {
  display: flex;
  flex-wrap: wrap;

}

.card-column {
  max-height: 35rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3rem;
  background-color: $color-grey-dark-1;
  transition: all 0.3s;
  position: relative;
  box-shadow: 0 4px 6px rgba($color-grey-dark-1, 0.2);

  &:not(:last-child) {
    margin-right: 3rem;
  }

  & > i {
    font-size: 6rem;
    color: $color-white;
    transition: all 0.3s;
    padding: 0 0 1rem 0;

    &::before {
      width: 11rem;
      height: 11rem;
    }
  }

  & > h3 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
  }
  & > p {
    font-size: 1.4rem;
    text-align: center;
    font-family: "Roboto", sans-serif;
    padding-top: 1rem;
  }

  &:hover {
    background-color: $color-primary-2;
    color: $color-grey-dark-1;
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 3rem rgba($color-white, 0.05);

    & i {
      color: $color-grey-dark-1;
    }
  }
}
