
.form__list {
    list-style: none;
    width: 45vw;
    min-width: 40vw;
    max-width: 60vw;
  }
  
  .form__list li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .form__list > li > label,
  .form__list li {
    flex: 1 0 100%;
    font-size: 1.4rem;
  }
  
  .form__list > li > label {
    margin: 1.5rem 0 0.5rem;
    color: $color-primary-2;
    font-weight: 700;
  }
  
  .form__list > li > label + * {
    font-family: inherit;
    font-size: 1.4rem;
    flex: 1 0 22rem;
    background: #3a3a3a;
    padding: 1rem 1.2rem;
    border: none;
  }
  
  .form__list > li > input,
  .form__list > li > textarea {
    border: 2px solid transparent;
    color: $color-white;
    transition: border 0.3s;
    flex: 1 0 40rem;
  }
  
  .form__list > li > input:focus,
  .form__list > li > textarea:focus {
    border-top: 2px solid $color-primary-2;
    outline: none;
  }
  
  .form__list li button {
    margin: 0;
    margin-top: 3rem;
    margin-bottom: 0;
    padding: 1rem 4rem;
  }
  
  #message {
    resize: none;
    overflow: hidden;
    height: 18rem;
  }
  
  .fa-envelope {
    margin-left: 1.5rem;
  }
  
  ::placeholder {
    color: $color-grey-light-1 !important;
  }
  
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $color-grey-light-1 !important;
  }
  