h1 {
    font-size: 3rem;
    font-family: 'Archivo Black', sans-serif;
}


h3 {
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    font-family: 'Archivo Black', sans-serif;
}

h4 {
    margin-top: 2rem;
  }

.navbar__logo {
    font-size: 3rem;
    font-family: 'Archivo Black', sans-serif;
}

