h1 {
    font-size: 4rem;
    font-family: 'Archivo Black', sans-serif;
}

h2 {
    font-size: 3rem;
    font-family: 'Archivo Black', sans-serif;
}


h3 {
    font-weight: 700;
    font-size: 2em;
    font-family: 'Archivo Black', sans-serif;
}


.navbar__logo {
    font-size: 4rem;
    font-family: 'Archivo Black', sans-serif;
}

