.u-border-top {
  border-top: 3px solid $color-primary-2;
  padding-top: 6px;
}

.u-border-bottom {
  border-bottom: 2px solid $color-primary-2;
  padding-bottom: 3px;
  transition: border-bottom 0.3s;
}

.u-text-yellow {
  color: $color-primary-2;
}

.u-margin-top {
  margin-top: 3rem;
}

.u-margin-bottom {
  margin-bottom: 3rem;
}